{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-css-modules",
    "stylelint-config-rational-order",
    "stylelint-config-prettier"
  ],
  "plugins": [
    "stylelint-order",
    "stylelint-scss",
    "stylelint-high-performance-animation",
    "stylelint-group-selectors",
    "stylelint-declaration-strict-value",
    "stylelint-declaration-block-no-ignored-properties"
  ],
  "rules": {
    "no-descending-specificity": null,
    "at-rule-no-unknown": null,
    "scss/at-rule-no-unknown": true,
    "media-feature-name-no-unknown": null,
    "plugin/declaration-block-no-ignored-properties": true,
    "font-family-no-missing-generic-family-keyword": null
  }
}
