@import "maxwidth.scss";
@import "utils.scss";

body {
  background: #F4F7FE;
}

.anticon {
  vertical-align: bottom;
  &.anticon-plus {
    color: #cacacf;
    font-size: rem(23);
  }
  &.anticon-menu {
    color: #cacacf;
    font-size: rem(23);
  }
}

.box-container {
  max-width: rem(1440);
  margin: 0 auto;
  box-shadow: 0 rem(16) rem(48) #E7EBF6;

  background: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.site-header {
  padding: rem(16) rem(10) rem(16);
  text-align: center;
  border-bottom: 1px solid #f8f9fb;
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.1);
  .site-title {
    font-size: rem(20);
    color: #525252;
    font-weight: bold;
    display: inline-block;
  }
}

.habits-container {
  .box {
    color: blueviolet;
    background: aliceblue;
    padding: rem(15);
    margin: rem(15);
    border-radius: rem(5);
    .habit-icon {
      display: inline-block;
      vertical-align: middle;
      font-size: rem(30);
      margin-right: rem(16);
      line-height: rem(30);
    }
    .info {
      vertical-align: middle;
      display: inline-block;
      .name {
        font-size: rem(16);
        font-weight: 500;
      }
      .score {
        font-size: rem(12);
        color: #ccc;
        margin-top: rem(5);
      }
    }
    .check {
      vertical-align: middle;
      font-size: rem(30);
      line-height: rem(38);
    }
  }
}

.left {
  float: left;
  display: inline-block;
}

.right {
  float: right;
  display: inline-block;
}

.add-habit {
  padding: rem(15) rem(16);
  position: fixed;
  border-radius: 50%;
  box-shadow: -1px 1px 12px rgba(0, 0, 0, 0.5);
  background: #14cc80;
  bottom: rem(60);
  right: rem(20);
  .anticon-plus {
    color: #FFF;
  }
}
