@import "maxwidth.scss";
@import "utils.scss";

body {
  background: #f4f7fe;
}

.anticon {
  vertical-align: bottom;
  &.anticon-plus {
    color: #cacacf;
    font-size: rem(23);
  }
  &.anticon-menu {
    color: #cacacf;
    font-size: rem(23);
  }
}

.box-container {
  display: flex;
  flex-direction: column;
  max-width: rem(1440);
  min-height: 100vh;
  margin: 0 auto;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 rem(16) rem(48) #e7ebf6;
}

.site-header {
  padding: rem(16) rem(10) rem(16);
  text-align: center;
  border-bottom: 1px solid #f8f9fb;
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.1);
  .site-title {
    display: inline-block;
    color: #525252;
    font-weight: bold;
    font-size: rem(20);
  }
  .avatar {
    position: absolute;
    right: rem(15);
    width: rem(30);
    height: rem(30);
    border-radius: 50%;
  }
}

.score-container {
  margin: rem(15);
  padding: rem(15);
  background: aliceblue;
  border-radius: rem(5);
  .text {
    color: blueviolet;
  }
}

.habits-container {
  background: #f8f9fb;

  .swipe-habit-item {
    margin: rem(15);
    border-radius: rem(5);
    .am-swipe-content {
      border-radius: rem(5);
    }

    .swipe-habit-item-btn {
      color: #fff;
    }

    .delete-habit-btn {
      background: #f4333c;
    }

    .edit-habit-btn {
      background: #108ee9;
    }
  }

  .box {
    padding: rem(15);
    color: #666;
    background: #fff;
    .habit-icon {
      display: inline-block;
      margin-right: rem(16);
      font-size: rem(30);
      line-height: rem(30);
      vertical-align: middle;
    }
    .info {
      display: inline-block;
      vertical-align: middle;
      .name {
        font-weight: 500;
        font-size: rem(16);
      }
      .score {
        margin-top: rem(5);
        color: #ccc;
        font-size: rem(12);
      }
    }
    .check {
      font-size: rem(30);
      line-height: rem(38);
      vertical-align: middle;
    }
  }
}

.left {
  display: inline-block;
  float: left;
}

.right {
  display: inline-block;
  float: right;
}

.form-item {
  margin: rem(10) auto;

  label {
    &.title {
      margin-right: rem(10);
    }
  }
}

.inline {
  display: inline-block;

  &.ant-input {
    width: 75%;
  }
}

.add-habit {
  position: fixed;
  right: rem(20);
  bottom: rem(60);
  padding: rem(15) rem(16);
  background: #14cc80;
  border-radius: 50%;
  box-shadow: -1px 1px 12px rgba(0, 0, 0, 0.5);
  .anticon-plus {
    color: #fff;
  }
}

.add-habit-modal {
  width: 88%;
  max-width: 400px;
  .ant-radio-group {
    width: 75%;
    .ant-radio-button-wrapper {
      width: 33%;
    }
  }
}
