
body {
  background: #F4F7FE;
}

.box-container {
  max-width: 1440px;
  margin: 0 auto;
  box-shadow: 0 16px 48px #E7EBF6;

  background: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.box {
  color: blueviolet;
  background: aliceblue;
  margin: 30px 20px;
  padding: 10px;
}

.left {
  float: left;
  display: inline-block;
}
.right {
  float: right;
  display: inline-block;
}

.box:after {
  display: block;
  content: '';
  clear: both;
}

.box-center {
  text-align: center;
}
